<div class="container is-max-widescreen" >
    <p class="title is-uppercase is-size-3 has-text-weight-medium">
        Our <span style="color: orange">Sector</span> 
    </p>
    <main class="page-content">

        <div class="card">
            <div class="content">
                <h2 class="title has-text-white">Commercial</h2>
                <p class="copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut alias deleniti quo?</p><button class="btn">Book Commercial</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title has-text-white">Residential</h2>
                <p class="copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut alias deleniti quo?</p><button class="btn">Book
                    Residential</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title has-text-white">Civils</h2>
                <p class="copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut alias deleniti quo?</p><button class="btn">Book Civils</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title has-text-white">Specialist Construction</h2>
                <p class="copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut alias deleniti quo?</p><button
                    class="btn">Book Specialist Construction</button>
            </div>
        </div>

    </main>
    <div class="buttons">
        <button class="button is-rounded is-black">Read More</button>
    </div>
    <span  fxLayout="row"   fxLayoutAlign=" center">
        <p fxFlex="54" class="is-size-4 has-text-left has-text-weight-medium">
            We have vast experience in all sectors of construction. Our team have the skills and experience to manage your project from start to finish.
        </p>
    </span>
   

</div>