<!--Who we are cell container-->
<section class=" hero is-success is-medium">
    <div class="hero-body center-container ">
        <div class="">
            <p class="title">
                Who are are
            </p>
            <p>Lorem ipsum dolor sit accusamus eligendi! Porro, laboriosam dicta consequuntur sint facere nemo accusamus
                nam ratione unde natus sit! Itaque nulla aliquam laborum quam laboriosam, aperiam perferendis optio.
                Voluptatibus ipsum id deleniti pariatur rem voluptatem vel praesentium, repudiandae distinctio culpa
                vero similique sunt fugiat perferendis consequuntur atque ea dolorum dicta minus sapiente ipsam officia
                accusamus officiis perspiciatis. Id sit soluta velit!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum suscipit iste reprehenderit nemo
                exercitationem provident excepturi repellendus distinctio dignissimos odit! Iure nihil autem modi minima
                maiores dolores, laboriosam explicabo odio vero sapiente animi ab eaque illo cumque incidunt atque
                reprehenderit praesentium? Dicta eveniet laborum animi amet illum error perspiciatis eaque! Eveniet
                sapiente inventore, dolorum mollitia quibusdam tempore quo perferendis aliquid a impedit nisi aut animi
                qui ipsum alias accusantium quos ducimus dolores! Nihil, non? Dolore ullam labore.</p>
        </div>
        <br><br><br><br>
        <div class="buttons">
            <button class="button is-primary">Primary</button>
        </div>
    </div>
</section>
<!--image container-->
<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="">
            <p class="title">
                Container for image
            </p>
        </div>
    </div>
</section>
<!--cards container-->
<section class="hero is-danger is-fullheigh">
    <div class="hero-body">
        <div class="">
            <app-cards></app-cards>
        </div>
    </div>
</section>
<!--form container--> 
<div fxLayout="column" fxLayoutGap="50px">
    <div fxLayout="row">
      <div fxLayoutAlign="center" fxFill class="card">
        <h1>1</h1>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="25px">
      <div fxFlex fxLayoutAlign="center" class="card">
        <h1>2</h1>
      </div>
      <div fxFlex fxLayoutAlign="center" class="card">
        <h1>3</h1>
      </div>
      <div fxFlex fxLayoutAlign="center" class="card">
        <h1>4</h1>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="50px">
      <div fxLayoutAlign="center" fxFlex class="card">
        <h1>5</h1>
      </div>
      <div fxLayoutAlign="center" fxFlex class="card">
        <h1>6</h1>
      </div>
    </div>
  </div>