<!--Who we are cell container-->
<section class=" hero is-success is-medium">
    <div class="hero-body center-container ">
        <div class="">
            <p class="title">
                Who are are
            </p>
            <p>Lorem ipsum dolor sit accusamus eligendi! Porro, laboriosam dicta consequuntur sint facere nemo accusamus
                nam ratione unde natus sit! Itaque nulla aliquam laborum quam laboriosam, aperiam perferendis optio.
                Voluptatibus ipsum id deleniti pariatur rem voluptatem vel praesentium, repudiandae distinctio culpa
                vero similique sunt fugiat perferendis consequuntur atque ea dolorum dicta minus sapiente ipsam officia
                accusamus officiis perspiciatis. Id sit soluta velit!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum suscipit iste reprehenderit nemo
                exercitationem provident excepturi repellendus distinctio dignissimos odit! Iure nihil autem modi minima
                maiores dolores, laboriosam explicabo odio vero sapiente animi ab eaque illo cumque incidunt atque
                reprehenderit praesentium? Dicta eveniet laborum animi amet illum error perspiciatis eaque! Eveniet
                sapiente inventore, dolorum mollitia quibusdam tempore quo perferendis aliquid a impedit nisi aut animi
                qui ipsum alias accusantium quos ducimus dolores! Nihil, non? Dolore ullam labore.</p>
        </div>
        <br><br><br><br>
        <div class="buttons">
            <button class="button is-primary">Primary</button>
        </div>
    </div>
</section>
<!--image container-->
<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="">
            <p class="title">
                Container for image
            </p>
        </div>
    </div>
</section>
<!--cards container-->
<section class="hero is-danger is-fullheigh">
    <div class="hero-body">
        <div class="">
            <app-cards></app-cards>
        </div>
    </div>
</section>
<!--form container-->
<section class="hero is-danger is-small">
    <div class="hero-body center-container">
        <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row" fxLayoutGap="20px">
                <div fxLayoutAlign="center" fxFlex class="card">
                    contact Us
                    Email:
                    Name:
                    Address:
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid nulla vitae similique sit minima
                    perferendis porro quis obcaecati facilis laborum. Explicabo quod, voluptate.
                </div>
                <div fxLayoutAlign="center" fxLayout="column" fxFlex class="card">
                    <div fxLayout="column">
                        <div>
                            Get in touch or book a session!
                        </div>
                        <form class="example-form" fxLayout="column">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Name</mat-label>
                                <input type="text" matInput placeholder="Ex. Jhon Doe">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput placeholder="Ex. pat@example.com">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Message</mat-label>
                                <input type="textarea" matInput placeholder="Ex. Lorem Ipsum">
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="end end" class="buttons">
                                <button class="button is-primary">Primary</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>