.search-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    input[type=text] {
        position: relative;
        // padding: 15px 40px 15px 20px;
        padding-bottom: calc(0.5em - 1px);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: calc(0.5em - 1px);
        width: 20px;
        color: #525252;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 2px;
        border: none;
        border-radius: 5px;
        background: transparent;
        // background: linear-gradient(to right, #FFFFFF 0%, #464747 #F9F9F9 100%);
        transition: width 0.4s ease;
        outline: none;

        &:focus {
            width: 300px;
        }
    }

    i {
        position: relative;
        left: -25px;
        color: orange;
    }

    .social {
        position: absolute;
        right: 35px;
        bottom: 35px;

        img {
            display: block;
            width: 32px;
        }
    }
}

.hero-header-navbar {
    background-image: url(../../../assets/Main-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.button-circle {
    width: 230px;
    height: 230px;
    background: #fffa;
    border-radius: 50%;
    // animation: spin 500s infinite cubic-bezier(0, .25, .75, 1);
}


@keyframes spin {
    to {
        transform: rotateY(4turn);
    }
}

figure img  {
    position: relative
}

// figcaption {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     font-weight: bold;
//     transform: translate(-50%, -50%);
// }
.dot {
    height: 230px;
    width: 230px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .button{
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-item{
    position: absolute;
    width: 31%;
    height: 570%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    align-items: stretch;
  }
  .navbar-item img {
    width: 100%;
    max-height: 100%;
    box-shadow: 0 0 18px 22px #000;;
  }
  .top-right{
    position: absolute;
    top: 50px;
    left: 40%;
  }
  .bottom{
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 120px;
  }